<?xml version="1.0"?>
<!--
/**
 * Copyright © EleAPIs. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_eleapis_connector">
        <observer name="eleapis_connector_config_changed"
                  instance="EleAPIs\Connector\Observer\ConfigChanged"/>
    </event>
</config>
