<?xml version="1.0"?>
<!--
/**
 * Copyright © EleAPIs. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="eleapis" translate="label" sortOrder="400">
            <label>EleAPIs</label>
        </tab>
        <section id="eleapis_connector" translate="label" type="text" sortOrder="10"
                 showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Connector</label>
            <tab>eleapis</tab>
            <resource>EleAPIs_Connector::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="webhook_url" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Webhook URL</label>
                    <validate>validate-url</validate>
                    <comment>Paste the Webhook URL shown in your dashboard.</comment>
                </field>
                <field id="hmac_secret" translate="label comment" type="obscure" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Webhook Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Paste the Webhook Secret shown once in your dashboard.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
